@import "compass/typography/vertical_rhythm";
@import "breakpoint";
@import "compass/utilities/general/clearfix";

$base-font-size: 24px;
$base-line-height: 32px;
$rhythm-unit: "px";

@include establish-baseline();

// Colors
$color-pink: rgb(233, 82, 156);
$color-yellow: rgb(50, 26, 61);
$color-red: rgb(48, 28, 69);
$color-cyan: rgb(124, 205, 206);
$color-orange: rgb(241, 100, 65);
$color-grey: #666;
$color-black: #3f3f3f;
$color-white: #fff;

$font-amatic: 'Amatic SC';
$font-dosis: 'Dosis';

body {
  background: $color-white url(../images/madarak.svg) no-repeat fixed right 100%;
  background-size: 60%;
  color: $color-black;
  font-family: $font-dosis, sans-serif;
  margin: 0;
}

#container {
  width: 94%;
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: $font-amatic, cursive;
  font-weight: 700;
  margin: 0;
}

h1 {
  @include adjust-font-size-to($base-font-size * 3);
}

h2 {
  @include adjust-font-size-to($base-font-size * 2.6);
}

h3 {
  @include adjust-font-size-to($base-font-size * 2.2);
}

a {
  &:link,
  &:hover,
  &:active,
  &:visited {
    color: $color-cyan;
    text-decoration: none;
  }
  &:hover {
    color: $color-pink;
  }
}

strong {
  color: $color-orange;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 100;
}

#content {
  h2 {
    color: $color-pink;
  }
}

section.panel {
  margin: 0;
}

.fader {
  opacity: 0;
}

#s-1 {
  margin-top: 75vh;
}

#s-5 {
  margin-bottom: 25vh;
}
